.item {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 50%;
  .title {
    text-align: left;
    color: #E0E0E0;
    font-size: medium;
    margin-bottom: 5px;
  }
  .textField {
    width: 100%;
  }
}

.submit {
  margin: 0 auto;
}