.required {
  color: red;
}

.title {
  text-align: left;
  font-size: medium;
  margin-bottom: 5px;
}

.titleLight {
  @extend .title;
  color: #e0e0e0;
}

.titleDark {
  @extend .title;
  color: #575757;
}

.titleDisabled {
  @extend .title;
  @extend .titleLight;
}
