.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  .title {
    flex: 0 0 auto;
    font-weight: 600;
  }
  .horizontalRule {
    flex: 1 1 auto;
    margin-left: 10px;
    hr {
      border: 1px solid black;
    }
  }
}

.volunteerNames {
  width: 375px;
}

.membership {
  width: 250px;
}

.item {
  margin-bottom: 20px;
}

.textField {
  width: 100%;
}
.select {
  width: 100%;
}

.receiveFunds {
  margin-bottom: 20px;
  .receiveFundsText {
    margin-right: 20px;
    display: inline-block;
    width: 250px;
  }

  .receiveFundsRadioGroup {
    display: inline-block;
  }
}

.container {
  display: inline-block;
}


.btnItem {
  display: inherit;
  margin: 0px 5px;
}