.volunteerNames {
  width: 375px;
}

.membership {
  width: 250px;
}

.item {
  margin-bottom: 20px;
}

.textField {
  width: 100%;
}
.select {
  width: 100%;
}

.receiveFunds {
  margin-bottom: 20px;
  .receiveFundsText {
    margin-right: 20px;
    display: inline-block;
    width: 250px;
  }
  
  .receiveFundsRadioGroup {
    display: inline-block;
  }
}

