.gridItem {
  text-align: center;
}

.container {
  display: inline-block;
}

.item {
  display: inherit;
  margin: 0px 5px;
}

.select {
  margin-right: 5px;
}

.title {
  text-align: center;
  color: #E0E0E0;
  font-size: large;
}